@import "tailwindcss";
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
html, body {
    height: 100%;  /* Ensures the body fills the viewport height */
    margin: 0;     /* Removes default margin */
    padding: 0;    /* Removes default padding */
    overflow-x: hidden;  /* Prevents horizontal scrolling */
    

  }
  
  body {
    min-height: 100vh; /* Ensures body takes at least the full viewport height */
  }