/* Resetting Margin and Padding for all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Removing text decoration from links */
a {
    text-decoration: none;
}

/* Removing list styles */
ul, ol {
    list-style: none;
}

/* Resetting table border spacing */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Setting the default font family and size */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Resetting form input fields */
input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Removing outline for all elements (use with caution for accessibility) */
*:focus {
    outline: none;
}

/* Resetting images and videos */
img, picture, video, iframe, object, embed {
    max-width: 100%;
    height: auto;
}

/* Resetting blockquotes */
blockquote {
    quotes: none;
}

/* Resetting specific styles for code elements */
code, pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
